<html>
  <head>
    <title>Redefinir Senha</title>
  </head>
  <body>
    <h1>Redefinir Senha</h1>
    <form action="/password-reset/confirm" method="POST">
      <input type="hidden" name="token" value="<%= token %>" />
      <label for="novaSenha">Nova Senha:</label>
      <input type="password" id="novaSenha" name="novaSenha" required />
      <label for="confirmSenha">Confirme a Senha:</label>
      <input type="password" id="confirmSenha" name="confirmSenha" required />
      <button type="submit">Redefinir Senha</button>
    </form>
  </body>
</html>
